@model QRSCS.Models.HIResultDTO
@{
    ViewBag.Title = "HIResult";
    
}

@*<style>
        .container-fluid {
            height: 1700px;
        }
    </style>*@

<link type="text/css" rel="stylesheet" href="~/Content/adminassets/css/style.css">
<link href="~/Content/adminassets/resultstyle.css" rel="stylesheet" />

<div>
    <ul class="nav">
        <li onclick="BMT()">Bi-Monthlys</li>
        <li onclick="FT()">Mid Terms</li>
    </ul>
</div>
<div class="wrapper">
    <div class="rec-prism">
        <div class="face face-front">
            <div class="content">
                <h4>PROGRESS REPORT</h4>
                <div class="BM_GRNO">
                    @*<input type="number" placeholder="GR_NO" style="width:100px; float:right; margin-bottom:10px; height:100%"/>*@
                    @Html.TextBoxFor(x => x.biMonthlyModel.GR_NO, null, new { type = "number", placeholder = "GR_NO", style = "width:50%; height:30px; margin:10px 0;", onchange = "GetInfo(document.getElementById('biMonthlyModel_GR_NO').value)" })
                </div>
                <div class="BM_Result">
                    <h5 id="name">Name:</h5>
                    <span id="BM_St_Name" style=" margin-left: 25px;"></span><br />
                    <h5>Father Name:</h5>
                    <span id="BM_Father_Name" style="margin-left: 25px;"></span><br />
                    <h5>Class:</h5>
                    <span id="BM_Class" style="margin-left: 25px;"></span><br />
                    <h5>Disability:</h5>
                    <span id="BM_Disability" style="margin-left: 25px;"></span><br />
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">S.NO.</th>
                            <th rowspan="2" class="wide">Subjects</th>
                            <th class="twide">
                                @*<select>
                                        <option>1st Bi-Monthly</option>
                                        <option>2nd Bi-Monthly</option>
                                        <option>3rd Bi-Monthly</option>
                                        <option>4th Bi-Monthly</option>
                                    </select>*@
                                @Html.DropDownListFor(x => x.biMonthlyModel.Test_Type, new List<SelectListItem>
                                    { new SelectListItem() { Text = "Select Bi-Montly", Disabled=true, Selected=true },
                                      new SelectListItem() { Text = "1st Bi-Monthly" },
                                      new SelectListItem() { Text = "2nd Bi-Monthly" },
                                      new SelectListItem() { Text = "3rd Bi-Monthly" },
                                      new SelectListItem() { Text = "4th Bi-Monthly"},
                                    }, new { @Class = "form-dropdown validate[required]" })
                                <br> Max-Marks:25
                            </th>
                        </tr>
                        <tr>
                            <th>Marks Obtained</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td class="tleft">English</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.English, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMEnglishError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td class="tleft">Urdu</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Urdu, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMUrduError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td class="tleft">Maths</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Maths, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMMathsError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td class="tleft">Science</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Science, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMScienceError" class="text-danger"></span>
                                <span id="" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td class="tleft">Social Studies</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Social_Studies, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMSocial_StudiesError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td class="tleft">Islamiat</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Islamiat, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMIslamiatError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td class="tleft">Computer</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Computer, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMComputerError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td class="tleft">Speech</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Speech, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMSpeechError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td class="tleft">Language</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Language, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMLanguageError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td class="tleft">Concepts</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Concepts, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMConceptsError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td class="tleft">Art / Drawing</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Art_and_Drawing, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMArt_and_DrawingError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td class="tleft">Sindhi</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.biMonthlyModel.Sindhi, null, new { type = "number", onchange = "BMTotal()", onkeyup = "ValidateBM()" })
                                <br />
                                <span id="BMSindhiError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Total</strong></td>
                            <td>@Html.Label(" ", new { id = "BM_Total" })</td>
                        </tr>
                    </tbody>
                </table>
                <div class="BDM">
                    <div class="percentage">
                        <h3>Percentage:</h3>
                        @*<input type="number" name="" value="">*@
                        @Html.Label(" ", new { id = "BM_Percentage" })
                    </div>
                    <div class="percentage">
                        <h3>Grade:</h3>
                        @*<input type="text" name="" value="" id="per">*@
                        @Html.Label(" ", new { id = "BM_Grade" })
                    </div>
                    <div class="percentage">
                        <h3>Date:</h3>
                        @*<input type="date" name="" value="">*@
                        @Html.TextBoxFor(x => x.biMonthlyModel.Result_Date, null, new { type = "date" })
                    </div>
                    <div>
                        <input type="button" value="SUBMIT" onclick="submitBMResult(document.getElementById('biMonthlyModel_GR_NO').value)" />
                    </div>
                </div>
            </div>
        </div>

        <div class="face face-right">
            <div class="content">
                <h4>PROGRESS REPORT</h4>
                <div class="BM_GRNO">
                    @*<input type="number" placeholder="GR_NO" style="width:100px; float:right; margin-bottom:10px; height:100%"/>*@
                    @Html.TextBoxFor(x => x.biMonthlyModel.GR_NO, null, new { id = "finalTerm_GR_NO", type = "number", placeholder = "GR_NO", style = "width:50%; height:30px; margin:10px 0;", onchange = "FTGetInfo(document.getElementById('finalTerm_GR_NO').value)" })
                </div>
                <div class="BM_Result">
                    <h5 id="name">Name:</h5>
                    <span id="FT_St_Name" style=" margin-left: 25px;"></span><br />
                    <h5>Father Name:</h5>
                    <span id="FT_Father_Name" style="margin-left: 25px;"></span><br />
                    <h5>Disability:</h5>
                    <span id="FT_Disability" style="margin-left: 25px;"></span><br />
                    <h5>Class:</h5>
                    <span id="FT_Class" style="margin-left: 25px;"></span><br />
                </div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">S.NO.</th>
                            <th rowspan="2" class="wide">Subjects</th>
                            <th class="twide">
                                @*<select>
                                        <option>1st Bi-Monthly</option>
                                        <option>2nd Bi-Monthly</option>
                                        <option>3rd Bi-Monthly</option>
                                        <option>4th Bi-Monthly</option>
                                    </select>*@
                                @Html.DropDownListFor(x => x.finalResultModel.Term_Type, new List<SelectListItem>
                                    { new SelectListItem() { Text = "Select Term", Disabled = true, Selected = true },
                                      new SelectListItem() { Text = "1st Term" },
                                      new SelectListItem() { Text = "2nd Term" },
                                   }, new { @Class = "form-dropdown" })
                                <br> Max-Marks:100
                            </th>
                        </tr>
                        <tr>
                            <th>Marks Obtained</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td class="tleft">English</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.English, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTEnglishError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td class="tleft">Urdu</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Urdu, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTUrduError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td class="tleft">Maths</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Maths, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTMathsError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td class="tleft">Science</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Science, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTScienceError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td class="tleft">Social Studies</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Social_Studies, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTSocial_StudiesError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td class="tleft">Islamiat</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Islamiat, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTIslamiatError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td class="tleft">Computer</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Computer, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTComputerError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <td class="tleft">Speech</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Speech, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTSpeechError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <td class="tleft">Language</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Language, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTLanguageError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <td class="tleft">Concepts</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Concepts, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTConceptsError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>11.</td>
                            <td class="tleft">Art / Drawing</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Art_and_Drawing, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTArt_and_DrawingError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>12.</td>
                            <td class="tleft">Sindhi</td>
                            <td>
                                @*<input type="number" name="" value="">*@
                                @Html.TextBoxFor(x => x.finalResultModel.Sindhi, null, new { type = "number", onchange = "FTTotal()", onkeyup = "ValidateFT()" })
                                <span id="FTSindhiError" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Total</strong></td>
                            <td>@Html.Label(" ", new { id = "FT_Total" })</td>
                        </tr>
                    </tbody>
                </table>
                <div class="BDM">
                    <div class="percentage">
                        <h3>Percentage:</h3>
                        @*<input type="number" name="" value="">*@
                        @Html.Label(" ", new { id = "FT_Percentage" })
                    </div>
                    <div class="percentage">
                        <h3>Grade:</h3>
                        @*<input type="text" name="" value="" id="per">*@
                        @Html.Label(" ", new { id = "FT_Grade" })
                    </div>
                    <div class="percentage">
                        <h3>Date:</h3>
                        @*<input type="date" name="" value="">*@
                        @Html.TextBoxFor(x => x.finalResultModel.Result_Date, null, new { type = "date" })
                    </div>
                    <div>
                        <input type="button" value="SUBMIT" onclick="submitFTResult( $('#finalTerm_GR_NO').val())" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="~/Content/adminassets/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@*<script src="~/Content/javascripts/HIResult.js"></script>*@
<script>
    var checkBM
    var checkFT

    function GetInfo(id) {
        console.log(id);
        $.get("/Result/GetInfo?GRNO=" + id, function (response) {
            console.log(response)

            document.getElementById("BM_St_Name").innerHTML = response.Name;
            document.getElementById("BM_Father_Name").innerHTML = response.Father_Name;
            document.getElementById("BM_Class").innerHTML = response.Class;
            document.getElementById("BM_Disability").innerHTML = response.Disability;
        });
    }

    function FTGetInfo(id) {
        console.log(id);
        $.get("/Result/GetInfo?GRNO=" + id, function (response) {
            console.log(response)

            document.getElementById("FT_St_Name").innerHTML = response.Name;
            document.getElementById("FT_Father_Name").innerHTML = response.Father_Name;
            document.getElementById("FT_Class").innerHTML = response.Class;
            document.getElementById("FT_Disability").innerHTML = response.Disability;
        });
    }

    function submitBMResult(id) {
        if (id == null) {
            return alert("GR NO is required")
        }
        var biMonthlyModel_Test_Type = document.getElementById("biMonthlyModel_Test_Type").value
        var biMonthlyModel_English = document.getElementById("biMonthlyModel_English").value
        var biMonthlyModel_Urdu = document.getElementById("biMonthlyModel_Urdu").value
        var biMonthlyModel_Maths = document.getElementById("biMonthlyModel_Maths").value
        var biMonthlyModel_Science = document.getElementById("biMonthlyModel_Science").value
        var biMonthlyModel_Social_Studies = document.getElementById("biMonthlyModel_Social_Studies").value
        var biMonthlyModel_Islamiat = document.getElementById("biMonthlyModel_Islamiat").value
        var biMonthlyModel_Computer = document.getElementById("biMonthlyModel_Computer").value
        var biMonthlyModel_Speech = document.getElementById("biMonthlyModel_Speech").value
        var biMonthlyModel_Language = document.getElementById("biMonthlyModel_Language").value
        var biMonthlyModel_Concepts = document.getElementById("biMonthlyModel_Concepts").value
        var biMonthlyModel_Art_and_Drawing = document.getElementById("biMonthlyModel_Art_and_Drawing").value
        var biMonthlyModel_Sindhi = document.getElementById("biMonthlyModel_Sindhi").value

        var biMonthlyModel_Total = Number(biMonthlyModel_English) + Number(biMonthlyModel_Urdu) + Number(biMonthlyModel_Maths) + Number(biMonthlyModel_Science) + Number(biMonthlyModel_Social_Studies) + Number(biMonthlyModel_Islamiat) + Number(biMonthlyModel_Computer) + Number(biMonthlyModel_Speech) + Number(biMonthlyModel_Language) + Number(biMonthlyModel_Concepts) + Number(biMonthlyModel_Art_and_Drawing) + Number(biMonthlyModel_Sindhi)
        var biMonthlyModel_Percentage = (biMonthlyModel_Total / 300) * 100

        if (biMonthlyModel_Percentage >= 90) {
            biMonthlyModel_grade = "A+";
        } else if (biMonthlyModel_Percentage >= 80) {
            biMonthlyModel_grade = "A";
        } else if (biMonthlyModel_Percentage >= 70) {
            biMonthlyModel_grade = "B+";
        } else if (biMonthlyModel_Percentage >= 60) {
            biMonthlyModel_grade = "B";
        } else if (biMonthlyModel_Percentage >= 50) {
            biMonthlyModel_grade = "C";
        } else if (biMonthlyModel_Percentage >= 45) {
            biMonthlyModel_grade = "D";
        } else {
            biMonthlyModel_grade = "F";
        }




        var biMonthlyModel_Result_Date = document.getElementById("biMonthlyModel_Result_Date").value
        var data =
        {
            GR_NO: id,
            Test_Type: biMonthlyModel_Test_Type,
            English: biMonthlyModel_English,
            Urdu: biMonthlyModel_Urdu,
            Maths: biMonthlyModel_Maths,
            Science: biMonthlyModel_Science,
            Social_Studies: biMonthlyModel_Social_Studies,
            Islamiat: biMonthlyModel_Islamiat,
            Computer: biMonthlyModel_Computer,
            Speech: biMonthlyModel_Speech,
            Language: biMonthlyModel_Language,
            Concepts: biMonthlyModel_Concepts,
            Art_and_Drawing: biMonthlyModel_Art_and_Drawing,
            Sindhi: biMonthlyModel_Sindhi,
            Obtained_Total: biMonthlyModel_Total,
            Percentage: biMonthlyModel_Percentage,
            Grade: biMonthlyModel_grade,
            Result_Date: biMonthlyModel_Result_Date
        }
        checkBM = ValidateBM()
        if (checkBM == true) {
            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            };
            fetch('/Result/Add_BM_HIResult', requestOptions)
                .then(response => response.json())
                .then(json => { alert(json) })
        }
        else {
            alert("Error Submitting")
        }
    }

    function submitFTResult(id) {
        if (id == null) {
            return alert("GR NO is required")
        }
        var finalResultModel_Term_Type = document.getElementById("finalResultModel_Term_Type").value
        var finalResultModel_English = document.getElementById("finalResultModel_English").value
        var finalResultModel_Urdu = document.getElementById("finalResultModel_Urdu").value
        var finalResultModel_Maths = document.getElementById("finalResultModel_Maths").value
        var finalResultModel_Science = document.getElementById("finalResultModel_Science").value
        var finalResultModel_Social_Studies = document.getElementById("finalResultModel_Social_Studies").value
        var finalResultModel_Islamiat = document.getElementById("finalResultModel_Islamiat").value
        var finalResultModel_Computer = document.getElementById("finalResultModel_Computer").value
        var finalResultModel_Speech = document.getElementById("finalResultModel_Speech").value
        var finalResultModel_Language = document.getElementById("finalResultModel_Language").value
        var finalResultModel_Concepts = document.getElementById("finalResultModel_Concepts").value
        var finalResultModel_Art_and_Drawing = document.getElementById("finalResultModel_Art_and_Drawing").value
        var finalResultModel_Sindhi = document.getElementById("finalResultModel_Sindhi").value
        var finalResultModel_Total = Number(finalResultModel_English) + Number(finalResultModel_Urdu) + Number(finalResultModel_Maths) + Number(finalResultModel_Science) + Number(finalResultModel_Social_Studies) + Number(finalResultModel_Islamiat) + Number(finalResultModel_Computer) + Number(finalResultModel_Speech) + Number(finalResultModel_Language) + Number(finalResultModel_Concepts) + Number(finalResultModel_Art_and_Drawing) + Number(finalResultModel_Sindhi)
        var finalResultModel_Percentage = (finalResultModel_Total / 1200) * 100

        if (finalResultModel_Percentage >= 90) {
            finalResultModel_grade = "A+";
        } else if (finalResultModel_Percentage >= 80) {
            finalResultModel_grade = "A";
        } else if (finalResultModel_Percentage >= 70) {
            finalResultModel_grade = "B+";
        } else if (finalResultModel_Percentage >= 60) {
            finalResultModel_grade = "B";
        } else if (finalResultModel_Percentage >= 50) {
            finalResultModel_grade = "C";
        } else if (finalResultModel_Percentage >= 45) {
            finalResultModel_grade = "D";
        } else {
            finalResultModel_grade = "F";
        }

        var finalResultModel_Result_Date = document.getElementById("finalResultModel_Result_Date").value
        var data =
        {
            GR_NO: id,
            Term_Type: finalResultModel_Term_Type,
            English: finalResultModel_English,
            Urdu: finalResultModel_Urdu,
            Maths: finalResultModel_Maths,
            Science: finalResultModel_Science,
            Social_Studies: finalResultModel_Social_Studies,
            Islamiat: finalResultModel_Islamiat,
            Computer: finalResultModel_Computer,
            Speech: finalResultModel_Speech,
            Language: finalResultModel_Language,
            Concepts: finalResultModel_Concepts,
            Art_and_Drawing: finalResultModel_Art_and_Drawing,
            Sindhi: finalResultModel_Sindhi,
            Obtained_Total: finalResultModel_Total,
            Percentage: finalResultModel_Percentage,
            Grade: finalResultModel_grade,
            Result_Date: finalResultModel_Result_Date
        }
        var data2 = {
            GR_NO: id,
            Term_Type: finalResultModel_Term_Type
        }

        checkBM = ValidateFT()
        if (checkBM == true) {

            const requestOptions = {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data2)
            };
            fetch('/Result/IsMidTermPresent', requestOptions)
                .then(response => response.json())
                .then(json => {
                    if (json == true) {
                        if (confirm("You are updating the data, are you sure?")) {
                            const requestOptions1 = {
                                method: 'POST',
                                headers: { 'Content-Type': 'application/json' },
                                body: JSON.stringify(data)
                            };
                            fetch('/Result/Add_FT_HIResult', requestOptions1)
                                .then(response => response.json())
                                .then(json => {
                                    alert(json)
                                    location.reload();
                                })
                        }
                    } else {
                        const requestOptions2 = {
                            method: 'POST',
                            headers: { 'Content-Type': 'application/json' },
                            body: JSON.stringify(data)
                        };
                        fetch('/Result/Add_FT_HIResult', requestOptions2)
                            .then(response => response.json())
                            .then(json => {
                                alert(json)
                                location.reload();
                            })
                    }
                })
        }
        else {
            alert("Error Submitting")
        }
    }

    function BMTotal() {
        var biMonthlyModel_Total = Number(document.getElementById("biMonthlyModel_English").value) + Number(document.getElementById("biMonthlyModel_Urdu").value) + Number(document.getElementById("biMonthlyModel_Maths").value) + Number(document.getElementById("biMonthlyModel_Science").value) + Number(document.getElementById("biMonthlyModel_Social_Studies").value) + Number(document.getElementById("biMonthlyModel_Islamiat").value) + Number(document.getElementById("biMonthlyModel_Computer").value) + Number(document.getElementById("biMonthlyModel_Speech").value) + Number(document.getElementById("biMonthlyModel_Language").value) + Number(document.getElementById("biMonthlyModel_Concepts").value) + Number(document.getElementById("biMonthlyModel_Art_and_Drawing").value) + Number(document.getElementById("biMonthlyModel_Sindhi").value)
        document.getElementById("BM_Total").innerText = biMonthlyModel_Total

        var biMonthlyModel_Percentage = (biMonthlyModel_Total / 300) * 100
        document.getElementById("BM_Percentage").innerText = biMonthlyModel_Percentage.toFixed(2)

        if (biMonthlyModel_Percentage >= 90) {
            biMonthlyModel_grade = "A+";
        } else if (biMonthlyModel_Percentage >= 80) {
            biMonthlyModel_grade = "A";
        } else if (biMonthlyModel_Percentage >= 70) {
            biMonthlyModel_grade = "B+";
        } else if (biMonthlyModel_Percentage >= 60) {
            biMonthlyModel_grade = "B";
        } else if (biMonthlyModel_Percentage >= 50) {
            biMonthlyModel_grade = "C";
        } else if (biMonthlyModel_Percentage >= 45) {
            biMonthlyModel_grade = "D";
        } else {
            biMonthlyModel_grade = "F";
        }

        document.getElementById("BM_Grade").innerText = biMonthlyModel_grade
    }

    function FTTotal() {
        var finalResultModel_Total = Number(document.getElementById("finalResultModel_English").value) + Number(document.getElementById("finalResultModel_Urdu").value) + Number(document.getElementById("finalResultModel_Maths").value) + Number(document.getElementById("finalResultModel_Science").value) + Number(document.getElementById("finalResultModel_Social_Studies").value) + Number(document.getElementById("finalResultModel_Islamiat").value) + Number(document.getElementById("finalResultModel_Computer").value) + Number(document.getElementById("finalResultModel_Speech").value) + Number(document.getElementById("finalResultModel_Language").value) + Number(document.getElementById("finalResultModel_Concepts").value) + Number(document.getElementById("finalResultModel_Art_and_Drawing").value) + Number(document.getElementById("finalResultModel_Sindhi").value)
        document.getElementById("FT_Total").innerText = finalResultModel_Total

        var finalResultModel_Percentage = (finalResultModel_Total / 1200) * 100
        document.getElementById("FT_Percentage").innerText = finalResultModel_Percentage.toFixed(2)

        if (finalResultModel_Percentage >= 90) {
            finalResultModel_grade = "A+";
        } else if (finalResultModel_Percentage >= 80) {
            finalResultModel_grade = "A";
        } else if (finalResultModel_Percentage >= 70) {
            finalResultModel_grade = "B+";
        } else if (finalResultModel_Percentage >= 60) {
            finalResultModel_grade = "B";
        } else if (finalResultModel_Percentage >= 50) {
            finalResultModel_grade = "C";
        } else if (finalResultModel_Percentage >= 45) {
            finalResultModel_grade = "D";
        } else {
            finalResultModel_grade = "F";
        }

        document.getElementById("FT_Grade").innerText = finalResultModel_grade
    }

    function ValidateBM() {
        var isValid = true
        var biMonthlyModel_English = document.getElementById("biMonthlyModel_English").value
        var biMonthlyModel_Urdu = document.getElementById("biMonthlyModel_Urdu").value
        var biMonthlyModel_Maths = document.getElementById("biMonthlyModel_Maths").value
        var biMonthlyModel_Science = document.getElementById("biMonthlyModel_Science").value
        var biMonthlyModel_Social_Studies = document.getElementById("biMonthlyModel_Social_Studies").value
        var biMonthlyModel_Islamiat = document.getElementById("biMonthlyModel_Islamiat").value
        var biMonthlyModel_Computer = document.getElementById("biMonthlyModel_Computer").value
        var biMonthlyModel_Speech = document.getElementById("biMonthlyModel_Speech").value
        var biMonthlyModel_Language = document.getElementById("biMonthlyModel_Language").value
        var biMonthlyModel_Concepts = document.getElementById("biMonthlyModel_Concepts").value
        var biMonthlyModel_Art_and_Drawing = document.getElementById("biMonthlyModel_Art_and_Drawing").value
        var biMonthlyModel_Sindhi = document.getElementById("biMonthlyModel_Sindhi").value

        if (Number(biMonthlyModel_English) > 25) {
            $('#BMEnglishError').text("Marks should be less than 25")
            isValid = false
        }
        else if (Number(biMonthlyModel_English) == 0) {
            $('#BMEnglishError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMEnglishError').text("")
        }
        if (Number(biMonthlyModel_Urdu) > 25) {
            $('#BMUrduError').text("Marks should be less than 25")
            isValid = false
        } else if (Number(biMonthlyModel_Urdu) == 0) {
            $('#BMUrduError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMUrduError').text("")
        } if (Number(biMonthlyModel_Maths) > 25) {
            $('#BMMathsError').text("Marks should be less than 25")
            isValid = false
        } else if (Number(biMonthlyModel_Maths) == 0) {
            $('#BMMathsError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMMathsError').text("")
        } if (Number(biMonthlyModel_Science) > 25) {
            $('#BMScienceError').text("Marks should be less than 25")
            isValid = false
        } else if (Number(biMonthlyModel_Science) == 0) {
            $('#BMScienceError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMScienceError').text("")
        } if (Number(biMonthlyModel_Social_Studies) > 25) {
            $('#BMSocial_StudiesError').text("Marks should be less than 25")
            isValid = false
        } else if (Number(biMonthlyModel_Social_Studies) == 0) {
            $('#BMSocial_StudiesError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMSocial_StudiesError').text("")
        }
        if (Number(biMonthlyModel_Islamiat) > 25) {
            $('#BMIslamiatError').text("Marks should be less than 25")
            isValid = false
        } else if (Number(biMonthlyModel_Islamiat) == 0) {
            $('#BMIslamiatError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMIslamiatError').text("")
        }
        if (Number(biMonthlyModel_Computer) > 25) {
            $('#BMComputerError').text("Marks should be less than 25")
            isValid = false
        } else if (Number(biMonthlyModel_Computer) == 0) {
            $('#BMComputerError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMComputerError').text("")
        } if (Number(biMonthlyModel_Speech) > 25) {
            $('#BMSpeechError').text("Marks should be less than 25")
            isValid = false
        } if (Number(biMonthlyModel_Speech) == 0) {
            $('#BMSpeechError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMSpeechError').text("")
        } if (Number(biMonthlyModel_Language) > 25) {
            $('#BMLanguageError').text("Marks should be less than 25")
            isValid = false
        } else if (Number(biMonthlyModel_Language) == 0) {
            $('#BMLanguageError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMLanguageError').text("")
        } if (Number(biMonthlyModel_Concepts) > 25) {
            $('#BMConceptsError').text("Marks should be less than 25")
            isValid = false
        } else if (Number(biMonthlyModel_Concepts) == 0) {
            $('#BMConceptsError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMConceptsError').text("")
        } if (Number(biMonthlyModel_Art_and_Drawing) > 25) {
            $('#BMArt_and_DrawingError').text("Marks should be less than 25")
            isValid = false
        } else if (Number(biMonthlyModel_Art_and_Drawing) == 0) {
            $('#BMArt_and_DrawingError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMArt_and_DrawingError').text("")
        } if (Number(biMonthlyModel_Sindhi) > 25) {
            $('#BMSindhiError').text("Marks should be less than 25")
            isValid = false
        } else if (Number(biMonthlyModel_Sindhi) == 0) {
            $('#BMSindhiError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#BMSindhiError').text("")
        }

        return isValid;
    }

    function ValidateFT() {
        var isValid = true
        var finalResultModel_English = document.getElementById("finalResultModel_English").value
        var finalResultModel_Urdu = document.getElementById("finalResultModel_Urdu").value
        var finalResultModel_Maths = document.getElementById("finalResultModel_Maths").value
        var finalResultModel_Science = document.getElementById("finalResultModel_Science").value
        var finalResultModel_Social_Studies = document.getElementById("finalResultModel_Social_Studies").value
        var finalResultModel_Islamiat = document.getElementById("finalResultModel_Islamiat").value
        var finalResultModel_Computer = document.getElementById("finalResultModel_Computer").value
        var finalResultModel_Speech = document.getElementById("finalResultModel_Speech").value
        var finalResultModel_Language = document.getElementById("finalResultModel_Language").value
        var finalResultModel_Concepts = document.getElementById("finalResultModel_Concepts").value
        var finalResultModel_Art_and_Drawing = document.getElementById("finalResultModel_Art_and_Drawing").value
        var finalResultModel_Sindhi = document.getElementById("finalResultModel_Sindhi").value

        if (Number(finalResultModel_English) > 100) {
            $('#FTEnglishError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_English) == 0) {
            $('#FTEnglishError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTEnglishError').text("")
        }
        if (Number(finalResultModel_Urdu) > 100) {
            $('#FTUrduError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Urdu) == 0) {
            $('#FTUrduError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTUrduError').text("")
        } if (Number(finalResultModel_Maths) > 100) {
            $('#FTMathsError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Maths) == 0) {
            $('#FTMathsError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTMathsError').text("")
        } if (Number(finalResultModel_Science) > 100) {
            $('#FTScienceError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Science) == 0) {
            $('#FTScienceError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTScienceError').text("")
        } if (Number(finalResultModel_Social_Studies) > 100) {
            $('#FTSocial_StudiesError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Social_Studies) == 0) {
            $('#FTSocial_StudiesError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTSocial_StudiesError').text("")
        }
        if (Number(finalResultModel_Islamiat) > 100) {
            $('#FTIslamiatError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Islamiat) == 0) {
            $('#FTIslamiatError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTIslamiatError').text("")
        }
        if (Number(finalResultModel_Computer) > 100) {
            $('#FTComputerError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Computer) == 0) {
            $('#FTComputerError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTComputerError').text("")
        } if (Number(finalResultModel_Speech) > 100) {
            $('#FTSpeechError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Speech) == 0) {
            $('#FTSpeechError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTSpeechError').text("")
        } if (Number(finalResultModel_Language) > 100) {
            $('#FTLanguageError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Language) == 0) {
            $('#FTLanguageError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTLanguageError').text("")
        } if (Number(finalResultModel_Concepts) > 100) {
            $('#FTConceptsError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Concepts) == 0) {
            $('#FTConceptsError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTConceptsError').text("")
        } if (Number(finalResultModel_Art_and_Drawing) > 100) {
            $('#FTArt_and_DrawingError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Art_and_Drawing) == 0) {
            $('#FTArt_and_DrawingError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTArt_and_DrawingError').text("")
        } if (Number(finalResultModel_Sindhi) > 100) {
            $('#FTSindhiError').text("Marks should be less than 100")
            isValid = false
        } else if (Number(finalResultModel_Sindhi) == 0) {
            $('#FTSindhiError').text("Marks is Required")
            isValid = false
        }
        else {
            $('#FTSindhiError').text("")
        }

        return isValid;
    }


</script>
